.box-buy{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0px 25px 0px rgba(174, 172, 243, 0.5);
}