.btn {
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  letter-spacing: 0.05rem;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;

  &--primary {
    background-color: $c-primary;
    color: $white;

    font-size: $font-size-sm;
  }

  &:hover {
    background-color: $c-primary-dark;
  }

  &:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
  }

  &-block {
    width: 100%;
  }

  &-small {
    height: 2.725rem;
    font-weight: $font-weight-normal;
  }

  &-medium {
    height: 3.5rem;
    font-weight: $font-weight-black;
  }

  &-large {
    height: 3.5rem;
    font-weight: $font-weight-black;
  }
}
