.btn {
  border: none;
  border-radius: 0.5rem;
  letter-spacing: 0.05rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;

  &--primary {
    background-color: $c-primary;
    color: $white;
    height: 3.5rem;

    font-size: $font-size-sm;
    font-weight: $font-weight-black;
  }

  &:hover {
    background-color: $c-primary-dark;
  }

  &:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
  }
}