// TAB-MAIN

.tab-main {
  width: calc(100% + 4rem);
  position: relative;
  left: -$spacing-main;
}

.react-tabs {
  padding: 0 $spacing-main;

  &__tab-list {
    border-bottom: none;
    display: flex;
  }
  &__tab {
    padding: 1.2rem 1.6rem;
    text-align: center;
    font-size: $font-size-xxs;
    font-weight: $font-weight-black;
    position: static;
    border-radius: 0;
    color: $gray-title;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px $gray-border;
    transition: all 0.3s;

    &--selected {
      color: $c-primary;
      border-bottom: solid 2px $c-primary !important;
    }

    &-panel--selected {
      padding: 0 $spacing-main;
    }
  }
}

.header-benefit {
  display: flex;
  justify-content: space-between;

  p {
    max-width: 160px;
  }
}
