.header-main{
  background-color: $white;
  border-bottom: solid 1px $gray-border;

  @media (min-width: map-get($breakpoints, md)) {
    border-bottom: solid 1px $gray-border;
    background-color: $gray;
  }
}

.layout-main {
  padding: 0;

  @media (min-width: map-get($breakpoints, sm)) {
    max-width: 540px;
    padding: 0;
    margin: auto;
  }

  @media (min-width: map-get($breakpoints, md)) {
    max-width: 720px;
  }

  @media (min-width: map-get($breakpoints, lg)) {
    max-width: 1130px;
  }

  @media (min-width: map-get($breakpoints, xl)) {
    max-width: 1130px;

    &--profile {
      max-width: 900px;
    }
  }
}

.wrapper-main {
  padding: 0 $spacing-lg;

  @media (min-width: map-get($breakpoints, sm)) {
    padding: 0;
  }
}

// HOME
.page-home {
  max-width: 1360px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: minmax(450px, 540px) 1fr;
    grid-template-rows: calc(100vh);
    position: relative;
    margin-top: -56px;
  }
}

.form-main {
  padding: 0 $spacing-lg;
  background: $white;
  padding-top: $spacing-lg;

  @include media-breakpoint-up(md) {
    padding-top: 135px;
    padding-left: 28%;
    background: $gray;
  }
}

.content-form {
  max-width: 100%;

  @include media-breakpoint-up(md) {
    max-width: 290px;
  }
}

// PAGE BUILD PLANE
.page-build {
  background-color: $gray;
  // border: solid 1px red;
  display: block;

  &__stepper {
    // border: solid 1px blue;
  }

  &__wrapper {
    // border: solid 1px greenyellow;
  }

  .column-one {
  }
  .column-two {
  }

  @include media-breakpoint-up(md) {
    background-color: $white;
    display: grid;
    grid-template-columns: 220px 1fr;

    &__stepper {
      // border: solid 1px blue;
      background-color: $gray;
    }

    &__wrapper {
      width: 100%;
      // border: solid 1px greenyellow;
      display: grid;
      grid-template-columns: minmax(385px, 2fr) 1fr;
    }

    .column-one {
      width: 100%;
      justify-self: center;
      background-color: $white;

      &__content {
        width: 100%;
        max-width: 385px;
        margin: auto;
        padding-top: 2.5rem;
      }
    }
    .column-two {
      // border: solid 1px fuchsia;
      padding: 0 1rem;

      &__content {
      }
    }
  }
}

.sure-sume {
  display: block;

  @include media-breakpoint-up(md) {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    border-bottom: solid 1px $gray;
    padding-bottom: $spacing-lg;
    margin-top: $spacing-lg;
    border-bottom: solid 1px $gray-border;

    .input-dinamic {
      min-width: 160px;
    }
  }
}

.add-plan {
  margin: 2.5rem 0;
  
  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}
