.container {
  position: relative;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: map-get($breakpoints, sm)) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: map-get($breakpoints, md)) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: map-get($breakpoints, lg)) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: map-get($breakpoints, xl)) {
  .container {
    max-width: 1140px;
    &--profile {
      max-width: 900px;
    }
  }
}
