.header-main {
  background-color: $white;
  border-bottom: solid 1px $gray-border;

  @media (min-width: map-get($breakpoints, md)) {
    border-bottom: solid 1px $gray-border;
    background-color: $gray;
  }
}

.layout-main {
  padding: 0;

  @media (min-width: map-get($breakpoints, sm)) {
    max-width: 540px;
    padding: 0;
    margin: auto;
  }

  @media (min-width: map-get($breakpoints, md)) {
    max-width: 720px;
  }

  @media (min-width: map-get($breakpoints, lg)) {
    max-width: 1130px;
  }

  @media (min-width: map-get($breakpoints, xl)) {
    max-width: 1130px;

    &--profile {
      max-width: 1130px;
    }
  }
}

.wrapper-main {
  padding: 0 $spacing-main;

  @media (min-width: map-get($breakpoints, sm)) {
    padding: 0;
  }
}

// HOME
.page-home {
  max-width: 1360px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: minmax(450px, 540px) 1fr;
    grid-template-rows: calc(100vh);
    position: relative;
    margin-top: -57px;
  }
}

.form-main {
  padding: $spacing-main 0 $spacing-main;
  background: $white;

  @include media-breakpoint-up(md) {
    padding-top: 135px;
    padding-left: 28%;
    background: $gray;
  }
}

.content-form {
  max-width: 100%;

  @include media-breakpoint-up(md) {
    max-width: 290px;
  }
}

// PAGE BUILD PLANE
.page-build {
  background-color: $gray;
  display: block;

  @include media-breakpoint-up(md) {
    background-color: $white;
    display: grid;
    grid-template-columns: 220px 1fr;

    &__stepper {
      background-color: $gray;
    }

    &__wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: minmax(385px, 2fr) 1fr;
    }

    .column-one {
      width: 100%;
      justify-self: center;
      background-color: $white;

      &__content {
        width: 100%;
        max-width: 385px;
        margin: auto;
        padding-top: 2.5rem;
      }
    }
    .column-two {
      padding: 0 1rem;
    }
  }
}

.sure-sume {
  display: block;

  @include media-breakpoint-up(md) {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    border-bottom: solid 1px $gray;
    padding-bottom: $spacing-main;
    margin-top: $spacing-main;
    border-bottom: solid 1px $gray-border;

    .input-dinamic {
      min-width: 160px;
    }
  }
}

.add-plan {
  margin: 2.5rem 0;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}

// PAGE DE AGRADECIMIENTO
.page-thank {
  background-color: $white;

  &__present {
  }

  &__description {
  }
  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: minmax(350px, 500px) 1fr;
    grid-template-rows: calc(100vh - 57px);
    background-color: $gray;
    // border: solid 1px red;

    &__present {
      // border: solid 1px blue;
      display: flex;
      align-items: center;
      padding: 0 2rem;
      position: relative;

      picture {
        position: absolute;
        width: 536px;
        right: -120px;
      }
    }

    &__description {
      // border: solid 1px green;
      padding: 105px 0 0 16rem;
      background-color: $white;

      .wrapper-main {
        max-width: 490px;
      }
    }
  }
}
