.secction-info {
    padding: 3rem $spacing-lg;

  @include media-breakpoint-up(md) {
    padding: 0;
  }
}

.secction-sumAssured {
  background-color: $white;
  padding: 2.5rem $spacing-lg;

  @include media-breakpoint-up(md) {
    padding: 0;
  }
}
