.br-top-right-0{
    border-top-right-radius: 0 !important;
}

.br-bottom-right-0{
    border-bottom-right-radius: 0 !important;
}

.br-top-left-0{
    border-top-left-radius: 0 !important;
}

.br-bottom-left-0{
    border-bottom-left-radius: 0 !important;
}

.br-none{
    border-right: none;
}