.rimac-input,
.rimac-select {
  height: 54px;
  border: solid 1px $gray-neutral-2;
  border-radius: 4px;
  overflow: hidden;
  // TEXT
  font-weight: 400;
  font-size: 1rem;
  color: $gray-title;

  &:disabled {
    background-color: $white; /* Color de fondo deseado para el input deshabilitado */
  }
}

// ***** INPUT PERSONALIZADO *****
.rimac-input {
  padding: 0 0.8rem;
  position: relative;
  z-index: 5;
}

.input-dinamic {
  position: relative;
  height: fit-content;
  margin-top: 1rem;
  
  &__remove,
  &__add {
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    transform: translateY(-45%);
    background-color: transparent;
    border-radius: 50%;
  }
  
  &__remove {
    left: 15px;
  }
  
  &__add {
    right: 15px;
  }
  
  @include media-breakpoint-up(md) {
    margin-top: 0;
  }
}

// ***** SELECT PERSONALIZADO *****
.rimac-select {
  position: relative;

  select {
    all: unset;
    display: flex;
    appearance: none;
    padding: 0 3rem 0 0.8rem;
    border: none;
    width: 100%;
    height: 100%;

    // CENTRAR
    display: flex;
    align-items: center;

    &:disabled {
      opacity: 1;
      color: $black;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-65%);
    pointer-events: none;
  }
}

//  ***** CHECBOX ****
.rimac-checkbox {
  display: inline-block;
  position: relative;
  padding-left: $spacing-lg;
  font-size: 1rem;
  cursor: pointer;

  &__label {
    font-size: $font-size-xs;
    font-weight: $font-weight-normal;
    font-family: "Roboto" sans-serif;
    color: $gray-text;
  }

  /* Estilos para el checkmark (el marcador del checkbox) */
  .checkmark {
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    background-color: $white;
    border: 2px solid $gray-neutral;
    transition: border-color 0.3s, background-color 0.3s;
  }

  /* Estilos para el checkbox oculto */
  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    cursor: pointer;

    /* Estilos para el checkmark cuando está marcado */
    &:checked + .checkmark {
      background-color: $c-success;
      border-color: $c-success;

      /* Estilos del icono del checkbox */
      &::after {
        content: "\2713";
        color: $white;
        font-size: 13px;
        font-weight: 600;
        position: absolute;
        left: 3px;
        top: -1px;
      }
    }
  }
}

//  ***** SWITCH  ****
.rimac-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;

  /* The switch itself */
  input {
    opacity: 0;
    width: 0;
    height: 0;

    /* Estilos cuando esta en checked*/
    &:checked + .slider {
      background-color: $c-success;

      /* Styling the switch's slider when it's checked */
      &::before {
        transform: translateX(20px);
      }
    }
  }

  // Slider
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gray-switch;
    transition: 0.4s;
    transition: 0.4s;
    border-radius: 30px;

    // Estilos circulo cuando esta en checked
    &::before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 2px;
      bottom: 2px;
      background-color: $white;
      transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
  }
}
