// GENERADOR ANCHOS
@each $width, $value in (0: 0%, 25: 25%, 50: 50%, 75: 75%, 100: 100%, content: content) {
  .w-#{$width} {
    width: $value;
  }
  @each $breakpoint, $point in $breakpoints {
    @media (min-width: $point) {
      .w-#{$breakpoint}-#{$width} {
        width: $value;
      }
    }
  }
}

// GENERADOR DE CLASES PARA MARGIN Y PADING
@each $spacing,
  $value
    in (
      0: $spacing-0,
      1: $spacing-xxs,
      2: $spacing-xs,
      3: $spacing-sm,
      4: $spacing-md,
      5: $spacing-lg,
      6: $spacing-xl,
      7: $spacing-xxl
    )
{
  @each $breakpoint, $point in $breakpoints {
    .m-#{$spacing} {
      margin: $value !important;
    }

    .mt-#{$spacing} {
      margin-top: $value !important;
    }

    .mr-#{$spacing} {
      margin-right: $value !important;
    }

    .mb-#{$spacing} {
      margin-bottom: $value !important;
    }

    .ml-#{$spacing} {
      margin-left: $value !important;
    }

    .mx-#{$spacing} {
      margin-left: $value !important;
      margin-right: $value !important;
    }

    .my-#{$spacing} {
      margin-top: $value !important;
      margin-bottom: $value !important;
    }

    .p-#{$spacing} {
      padding: $value !important;
    }

    .pt-#{$spacing} {
      padding-top: $value !important;
    }

    .pr-#{$spacing} {
      padding-right: $value !important;
    }

    .pb-#{$spacing} {
      padding-bottom: $value !important;
    }

    .pl-#{$spacing} {
      padding-left: $value !important;
    }

    .px-#{$spacing} {
      padding-left: $value !important;
      padding-right: $value !important;
    }

    .py-#{$spacing} {
      padding-top: $value !important;
      padding-bottom: $value !important;
    }

    @media (min-width: $point) {
      .m-#{$breakpoint}-#{$spacing} {
        margin: $value !important;
      }

      .mt-#{$breakpoint}-#{$spacing} {
        margin-top: $value !important;
      }

      .mr-#{$breakpoint}-#{$spacing} {
        margin-right: $value !important;
      }

      .mb-#{$breakpoint}-#{$spacing} {
        margin-bottom: $value !important;
      }

      .ml-#{$breakpoint}-#{$spacing} {
        margin-left: $value !important;
      }

      .mx-#{$breakpoint}-#{$spacing} {
        margin-left: $value !important;
        margin-right: $value !important;
      }

      .my-#{$breakpoint}-#{$spacing} {
        margin-top: $value !important;
        margin-bottom: $value !important;
      }

      .p-#{$breakpoint}-#{$spacing} {
        padding: $value !important;
      }

      .pt-#{$breakpoint}-#{$spacing} {
        padding-top: $value !important;
      }

      .pr-#{$breakpoint}-#{$spacing} {
        padding-right: $value !important;
      }

      .pb-#{$breakpoint}-#{$spacing} {
        padding-bottom: $value !important;
      }

      .pl-#{$breakpoint}-#{$spacing} {
        padding-left: $value !important;
      }

      .px-#{$breakpoint}-#{$spacing} {
        padding-left: $value !important;
        padding-right: $value !important;
      }

      .py-#{$breakpoint}-#{$spacing} {
        padding-top: $value !important;
        padding-bottom: $value !important;
      }
    }
  }
}

.mx-auto {
  margin: 0 auto;
}

.my-auto {
  margin: auto 0;
}

.m-auto {
  margin: auto;
}

// GENERADOR DE GAP
@each $number,
  $value in (1: $gap-xxxs, 2: $gap-xxs, 3: $gap-xs, 4: $gap-sm, 5: $gap-md, 6: $gap-lg, 7: $gap-xl, 8: $gap-xxl)
{
  .gap-#{ $number} {
    gap: $value;
  }
}

// GENERADOR DE ANCHOS Y ALTOS

.direction-column {
  flex-direction: column;
}

.p-relative {
  position: relative;
}
