// GENERAR CLASES PARA TAMAÑOS DE FUENTES
@each $size,
  $value
    in (
      xxs: $font-size-xxs,
      xs: $font-size-xs,
      sm: $font-size-sm,
      md: $font-size-md,
      lg: $font-size-lg,
      xl: $font-size-xl,
      xxl: $font-size-xxl,
      xxxl: $font-size-xxxl
    )
{
  .fs-#{$size} {
    font-size: $value;
    line-height: $value + $value * 0.3;
  }
}

// GEMERAR CLASES PARA GROSOR DE FUENTES
@each $weight,
  $value
    in (
      light: $font-weight-light,
      normal: $font-weight-normal,
      bold: $font-weight-bold,
      black: $font-weight-black
    )
{
  .fw-#{"" + $weight} {
    font-weight: $value !important;
  }
}

// GENERAR CLASES PARA CENTRAR TEXTO
@each $size, $value in (left: left, center: center, end: end) {
  .text-#{$size} {
    text-align: $value;
  }
}

// GENERAR CLASES PARA CENTRAR TEXTO
@each $size, $value in (underline: underline) {
  .text-#{$size} {
    text-decoration: underline;
  }
}

.text-roboto {
  font-family: $roboto;
}

.text-lato {
  font-family: $lato;
}
